@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

#content {
    border: 1px solid #d5d3c1;
    hyphens: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-height: 450px;
    width: 60%;
    padding: 30px;
    background: white;
    box-shadow: 0 4px 0 -2px #f3f7e7;
    font-family: "EB Garamond", serif;

}

#icons {
    vertical-align: middle;
}

#hello_world {
    font-size: 34px;
    padding-bottom: 30px;
}

#bio {
    font-size: 24px;
    overflow: hidden;
    position: relative;
    border-top: #d5d3c1 dashed;
    padding-top: 15px;
    display: inline-block;
}

#projects {
    padding-top: 40px;
    font-size: 24px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#list {
    margin: 0 auto;
    text-align: left;
    width: 50%;
}

#name {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "EB Garamond", serif;
    font-size: 32px;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}